extends layout
block content
    h1 Welcome to the E-Library!
    .topnav
        a(href="/" class="active") Home
        a(href="/contact") Contact
        a(href="/category") Search by Category
        .search-container
            form(action="/", method="POST")
                input(type="text", placeholder="Search Library..", name="search")
                button(type="submit", value="submit") Submit
                hr
    hr
    
    p <b>#{msg}</b>
    p  #{searchResult}
    p  #{isbn}
    p  #{genre}
    p  #{author}
    form(action="/index/"+bookid , method="GET")
        p  #{fileMsg} <input type="submit" value="#{bookName}">    



        